body{
    background-color: #402219;
}

h1{ color: #E6D7C5;
    font-family : "Roboto Serif", "Serif"; 
    font-size: 36px;
    font-style: bold;
    padding: 10px;
    text-align: center;
}

h2{ color: #E6D7C5;
    font-family : "Roboto Serif", "Serif"; 
    font-size: 28px;
    font-style: bold;
    padding: 10px;
    text-align: center;
}

#p1{ color: #E6D7C5;
    font-family : "Roboto Serif", "Serif"; 
    font-size: 24px;
    padding: 10px;
    text-align: center;

}

#p2{ 
    color: #E6D7C5;
    font-family : "Roboto Serif", "Serif"; 
    font-size: 30px;
    text-align: center;
}

p{
    color:#E6D7C5;
    font-size: 22px;
    text-align: center;

}

